@model Bageriet.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h2>@Model.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl">
    <div class="caption-full">
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h3 class="pull-right">@Model.Price.ToString("c")</h3>
        <h4>
        @Model.Description
        </h4>

        @if (Model is Bageriet.Models.Product)
        {
            @if (Model.Average == 0)
            {
                <h2>
                    @Model.Name
                </h2>
            }
            else
            {
                <h2>
                   <br /> @Model.Name - @Model.Average.ToString("n1") - @Model.Count recensioner
                </h2>
            }
            if (Model.Comment != null)
            {
                string[] comments = Model.Comment.Split('|');
                foreach (var comment in comments)
                {
                    <h3>
                        @comment<br />
                    </h3>
                }
            }
        }
        <p>Lägg gärna en recension!</p>
        <form asp-action="Comment" method="post">
            <input asp-for="ProductId" style="display:none" />
            <input value="" placeholder="Lägg en kommentar" asp-for="Comment"/>
            <input value="" placeholder="1 till 5" type="number" min="1" max="5" asp-for="Ratings"/>
            <input type="submit" value="Skicka in"/>
        </form>

        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                   asp-route-productId="@Model.ProductId">Lägg till i varukorgen</a>
            </p>
        </div>
    </div>
</div>